@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef3f6;
  --foreground: #0f0206;
}
@font-face {
  font-family: geistSans;
  src: url(./fonts/GeistVF.woff);
}
@font-face {
  font-family: geistMono;
  src: url(./fonts/GeistMonoVF.woff);
}
body{
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
 
}

@layer base{
  h1{
    @apply text-[3rem] md:text-[3.5rem]
  }
  h2{
    @apply text-[2rem] md:text-[2.5rem]
  }
  h3{
    @apply text-[1.8rem] md:text-[2.5rem]
  }

  h4{
    @apply text-[1.1rem]
  }
  
  h5{
    @apply text-base font-semibold
  }
  h6{
    @apply text-xs font-semibold italic
  }

  input[type="checkbox"]{
    @apply size-4
  }
}


@layer components{
  .geist-mono{
    font-family: geistMono;
  }
  .geist-sans{
    font-family: geistSans;
  }
  .heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav-link-style{
    @apply hover:border-b-primary border-b-[2px] border-transparent transition-all duration-500 cursor-pointer hover:text-primary capitalize
  }
  .link{
    @apply text-[.85rem] font-semibold text-accent hover:underline
  }

  .btn{
    @apply px-5 py-2 font-semibold tracking-wide rounded shadow hover:shadow-lg
  }
  .btn-primary{
    @apply bg-primary 
  }
  .btn-secondary{
    @apply border border-secondary hover:bg-secondary 
  }
  .beach-bg{
    background-image: url('../assets/bg-image/beach-bg.jpg');
    background-position: center;
  }

  .filter-wrapper h5{
    @apply text-gray-500
  }
}